@import "tailwindcss";
/* Extend Tailwind defaults */

@theme {
  /* Brand colors */
  --color-primary: hsl(211, 42%, 22%);
  --color-primary-dark: hsl(221, 49%, 12%);
  --color-primary-light: hsl(196, 52%, 96%);
  --color-accent-gold: hsl(36, 90%, 69%);
  --color-accent-orange-base: hsl(33, 94%, 94%);
  --color-accent-orange-dark: hsl(23, 65%, 54%);
  --color-accent-orange-light: hsl(33, 100%, 98%);
  --color-accent-green-base: hsl(58, 47%, 45%);
  --color-accent-green-light: hsl(57, 39%, 89%);
  --color-accent-green-dark: hsl(152, 94%, 13%);
  --color-accent-green-text: hsl(166, 17%, 34%);
  --font-archivo: "Archivo", "sans-serif" !important;

  /* Consistent rounded corners */
  --radius-primary: 0.8rem; /* rounded-lg */

  /* Shadow */
  --shadow-gradient: 0 0 30px hsla(180, 100%, 50%, 0.5),
    0 0 20px hsla(300, 100%, 50%, 0.4), 0 0 100px hsla(60, 100%, 50%, 0.3);
}

/* Base typography */
@layer base {
  body {
    @apply font-archivo font-normal;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-stretch-expanded text-primary font-bold mb-2 md:mb-4;
  }

  h1,
  h2 {
    @apply text-xl md:text-4xl 2xl:text-[50px] font-bold md:leading-14 leading-tight;
  }

  /* h2 {
    @apply text-2xl md:text-4xl 2xl:text-[50px] font-bold md:leading-11;
  } */

  h3 {
    @apply text-lg md:text-2xl;
  }
  p {
    @apply md:text-lg text-[12px];
  }
}

/* Components */
@layer components {
  .title-short {
    @apply text-xs md:text-xl lg:text-3xl font-stretch-expanded font-medium;
  }
  .title {
    @apply text-2xl lg:text-4xl font-bold md:leading-11 font-stretch-expanded;
  }
  .title-2 {
    @apply text-xl lg:text-2xl font-bold md:leading-11 font-stretch-expanded;
  }
  .title-3 {
    @apply text-lg lg:text-2xl font-stretch-expanded;
  }
  .span-p {
    @apply text-lg;
  }

  .mb-heading {
    @apply mb-4 md:mb-6 lg:mb-12;
  }

  .text-outline-primary {
    color: transparent;
    -webkit-text-stroke: 1px var(--color-primary);
  }
  .text-outline-green {
    color: transparent;
    -webkit-text-stroke: 1px var(--color-accent-green-base);
  }
  .text-outline-white {
    color: transparent;
    -webkit-text-stroke: 1px white;
  }

  @media screen and (min-width: 1024px) {
    .text-outline-primary {
      color: transparent;
      -webkit-text-stroke: 2px var(--color-primary);
    }
    .text-outline-green {
      color: transparent;
      -webkit-text-stroke: 2px var(--color-accent-green-base);
    }
    .text-outline-white {
      color: transparent;
      -webkit-text-stroke: 2px white;
    }
  }

  .bg-radial-primary {
    background: radial-gradient(farthest-side, var(--color-primary) 94%, #0000)
        top/8px 8px no-repeat,
      conic-gradient(#0000 30%, var(--color-primary));
    -webkit-mask: radial-gradient(
      farthest-side,
      #0000 calc(100% - 8px),
      #000 0
    );
  }
}

:is(
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-horizontal.swiper-pagination-bullets
  )
  .swiper-pagination-bullet {
  background-color: white;
  color: white;
}

.swiper-pagination {
  @apply !static lg:mt-4;
}
